<h1>Login</h1>

<form action="/login" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" required></input>
    </div>

    <div>
        <label for="username">Username</label>
        <input type="text" id="username" required></input>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" required></input>
    </div>  
    <button type="submit">Log in</button>
</form>

<p>New User? <a href="/signup">Sign up here</a></p>